.App {
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* classes for custom edit modal */
.custom-modal {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.custom-modal .ant-modal-content {
  width: 90% !important;
  background: #154c79 !important;
}

.custom-modal .ant-modal-header {
  background-color: #154c79 !important;
}

.custom-modal .ant-modal-title {
  color: #fff !important;
}

.custom-modal .ant-btn-default {
  background-color: white;
}

.custom-modal .ant-btn-primary {
  background-color: blue;
}

.custom-modal .anticon svg {
  color: white;
}